<header th:insert="blogs/header :: header"></header>
<h1 th:text="${name}"></h1>
<a href="/blog/add"><div class="blok1"><img th:src="@{/static/images/ane.png}" width="150" height="350"  /></div></a>
<a href="/blog/add"><div class="blok1"><img th:src="@{/static/images/ane.png}" width="150" height="350"  /></div></a>
<a href="/blog/add"><div class="blok1"><img th:src="@{/static/images/ane.png}" width="150" height="350"  /></div></a>
<a href="/blog/add"><div class="blok1"><img th:src="@{/static/images/ane.png}" width="150" height="350"  /></div></a>
<a href="/blog/add"><div class="blok1"><img th:src="@{/static/images/ane.png}" width="150" height="350"  /></div></a>
<a href="/blog/add"><div class="blok1"><img th:src="@{/static/images/ane.png}" width="150" height="350"  /></div></a>

<div th:insert="blogs/footer :: footer"></div>