<header th:insert="blogs/header :: header"></header>
<h1 th:text="${name}"></h1>
<a th:href="@{/static/books/java_oop.pdf}" download><div class="blok2" data-title="Скачать книгу"><img th:src="@{/static/images/java_oop.png}" width="150" height="250"  /></div></a>
<a th:href="@{/static/books/Spravochnik_2019.pdf}" download><div class="blok2" data-title="Скачать книгу"><img th:src="@{/static/images/java_spravochnik.png}" width="150" height="250"  /></div></a>
<a th:href="@{/static/books/java_oop.pdf}" download><div class="blok2" data-title="Скачать книгу"><img th:src="@{/static/images/java_oop.png}" width="150" height="250"  /></div></a>
<a th:href="@{/static/books/java_oop.pdf}" download><div class="blok2" data-title="Скачать книгу"><img th:src="@{/static/images/java_oop.png}" width="150" height="250"  /></div></a>
<a th:href="@{/static/books/java_oop.pdf}" download><div class="blok2" data-title="Скачать книгу"><img th:src="@{/static/images/java_oop.png}" width="150" height="250"  /></div></a>
<a th:href="@{/static/books/java_oop.pdf}" download><div class="blok2" data-title="Скачать книгу"><img th:src="@{/static/images/java_oop.png}" width="150" height="250"  /></div></a>



<div th:insert="blogs/footer :: footer"></div>